/*!
 * GPLv3 https://www.gnu.org/licenses/gpl-3.0.en.html
 *
 * Author: eidng8
 */

@import './variables';

.g8-menu {
  margin: 0;
  padding: 0 0.5em;
  text-align: left;
  user-select: none;

  ul,
  li {
    margin: 0;
    padding: 0.25em 0;
    list-style: none;
  }

  li {
    display: flex;
    align-items: center;
    border-bottom: solid 1px $g8-menu__border;

    &:before {
      content: '\2610';
      visibility: hidden;
    }

    &.g8-menu__item--checked:before {
      content: '\2611';
      visibility: visible;
    }

    > * {
      padding-left: 0.5em;
    }
  }

  &.g8-menu--use-checker li:before {
    visibility: visible;
  }
}

.g8-menu.g8--dark {
  color: $g8-menu__fg--inverse;
}
