/*!
 * GPLv3 https://www.gnu.org/licenses/gpl-3.0.en.html
 *
 * Author: eidng8
 */

@import './variables';

.g8-menu {
  margin: 0;
  width: 100%;
  padding: 0 0.5em;
  text-align: left;
  overflow: auto;
  user-select: none;
  position: absolute;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;
  border: solid 1px $g8-menu__border;

  button {
    border: none;
    background: transparent;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
  }

  ul {
    display: table;
  }

  li {
    display: table-row;
    align-items: center;

    &:hover {
      background: $g8-menu__bg--highlight;
    }

    &:before,
    &:after,
    > * {
      display: table-cell;
      vertical-align: middle;
    }

    &:before,
    &:after {
      content: ' ';
      max-width: 1em;
    }

    &.g8-menu__checker:before {
      content: '\2610';
    }

    &.g8-menu__checker--checked:before {
      content: '\2611';
    }

    &.g8-menu--has-child:after {
      content: '\276D';
    }

    &:not(:last-child) > * {
      border-bottom: solid 1px $g8-menu__border;
    }

    > * {
      width: 100%;
      padding: 0.5em 0 0.5em 0.5em;
    }

    * {
      box-sizing: border-box;
    }
  }
}

.g8-menu__header {
  display: flex;
  align-items: center;
  margin-right: -0.5em;
  justify-content: flex-end;
}

.g8-menu__close {
  width: 1.5em;
  height: 1.5em;
  flex: 0 0 1.5em;
  font-size: 1.5em;
}

.g8-menu__go-back {
  border: none;
  flex-grow: 1;
  height: 1.5em;
  text-align: right;
  visibility: hidden;
  color: $g8-menu__fg;
  transform: scaleX(-1);
  background: transparent;

  &.g8-menu--can__go-back {
    visibility: visible;
  }
}

.g8-menu--off {
  display: none !important;
}

.g8-menu__page {
  left: 0;
  width: 100%;
}

.g8-menu__label,
.g8-menu__subtitle {
  display: block;
}

.g8-menu__subtitle {
  font-size: 0.7em;
  color: $g8-menu__bg--secondary;
}

.g8-menu.g8--dark {
  color: $g8-menu__fg--inverse;

  button {
    color: $g8-menu__fg--inverse;
  }

  li:hover {
    background: $g8-menu__bg--highlight--inverse;
  }

  .g8-menu__go-back {
    color: $g8-menu__fg--inverse;
  }

  .g8-menu__subtitle {
    color: $g8-menu__bg--secondary--inverse;
  }
}
