/*!
 * GPLv3 https://www.gnu.org/licenses/gpl-3.0.en.html
 *
 * Author: eidng8
 */

@import './variables';

.g8-menu {
  margin: 0;
  display: table;
  padding: 0 0.5em;
  text-align: left;
  user-select: none;

  ul,
  li {
    margin: 0;
    list-style: none;
  }

  li {
    display: table-row;
    align-items: center;

    &:before,
    &:after,
    > * {
      display: table-cell;
      vertical-align: middle;
    }

    &:before,
    &:after {
      content: ' ';
      max-width: 1em;
    }

    &.g8-menu__checker:before {
      content: '\2610';
    }

    &.g8-menu__checker--checked:before {
      content: '\2611';
    }

    &.g8-menu--has-child:after {
      content: '\276D';
    }

    > * {
      width: 100%;
      padding: 0.5em 0 0.5em 0.5em;
      border-bottom: solid 1px $g8-menu__border;
    }
  }
}

.g8-menu.g8--dark {
  color: $g8-menu__fg--inverse;
}
