/*!
 * GPLv3 https://www.gnu.org/licenses/gpl-3.0.en.html
 *
 * Author: eidng8
 */

$g8-menu__bg: #cccccc !default;
$g8-menu__fg: #333333 !default;
$g8-menu__bg--highlight: lighten($g8-menu__bg, 10%) !default;
$g8-menu__bg--highlight--secondary: darken($g8-menu__bg, 20%) !default;
$g8-menu__fg--inverse: darken($g8-menu__bg, 20%) !default;
$g8-menu__bg--inverse: darken($g8-menu__fg, 5%) !default;
$g8-menu__bg--highlight--inverse: lighten($g8-menu__bg--inverse, 10%) !default;
$g8-menu__bg--highlight--secondary--inverse: lighten(
  $g8-menu__bg--inverse,
  20%
) !default;
